* {
    font-family: 'Roboto', sans-serif;
}


//modal
.m_modal_wrap{
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s linear;
    position: fixed;
    z-index: 991;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.m_modal_bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.m_modal {
    position: relative;
    width: 350px;
    background-color: #fff;
    transition: transform .3s ease-out;
    transform: translate(0,-50px);
    margin: 200px auto auto;
    padding: 30px 30px 25px 21px;
    border-radius: 5px;
}
.m_modal .sup-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #666666;
}
.m_modal .close {
    position: absolute;
    top: 30px;
    right: 28px;
    background: transparent;
    transform: rotate(45deg);
    z-index: 992;
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.m_modal .close::before{
    content: '';
    width: 25px;
    right: 1px;
    top: 12px;
    position: absolute;
    border-bottom: 2px solid #D8D8D8;
    transform: rotate(90deg);
}
.m_modal .close::after {
    content: '';
    width: 25px;
    right: 0px;
    top: 12px;
    position: absolute;
    border-bottom: 2px solid #D8D8D8;
}
.m_modal .content {
    width: 100%;
    margin: auto;
}
.m_modal .modal__buttons {
    padding-top: 25px;
    display: flex;
}
.m_modal .modal__buttons  button:nth-child(odd) {
    background: #1875F0;
    border: 2px solid #F5F5F5;
    border-radius: 4px;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 29px;
    margin-right: 20px;
    cursor: pointer;
}
.m_modal .modal__buttons  button:nth-child(even){
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    border-radius: 4px;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    text-transform: uppercase;
    color: #B3B3B3;
    padding: 0 43px;
    cursor: pointer;
}

.m_modal .hor__line {
    position: absolute;
    border-top: 2px solid  #F5F5F5;
    width: 100%;
    left: 0;
}
.m_modal_show {
    visibility: visible;
    opacity: 1;
}
.m_modal_show .m_modal{
    transform: none
}
.m_modal input[type="radio"] + span{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #999999;
}
.m_modal input[type="radio"] + span:before, .m_modal input[type="radio"] + span:after {
    width: 20px;
    height: 20px;
}
.m_modal [type="radio"]:not(:checked) + span:before, .m_modal[type="radio"]:not(:checked) + span:after {
    border: 2px solid #E6E6E6;
}
.m_modal [type="radio"]:checked + span:after, .m_modal [type="radio"].with-gap:checked + span:before, .m_modal [type="radio"].with-gap:checked + span:after {
     border: 2px solid #1875F0;
 }
.m_modal [type="radio"]:checked + span, .m_modal [type="radio"].with-gap:checked + span {
    color: #1875F0;
    padding-left: 48px;
    padding-top: 3px;
}
.m_modal [type="radio"]:checked + span:after, .m_modal [type="radio"].with-gap:checked + span:after {
    background: #1875F0;
}
.m_modal [type="radio"]:not(:checked) + span, .m_modal[type="radio"]:checked + span {
    padding-left: 48px;
    padding-top: 3px;
}







ul, li {
    list-style: none;
    margin: 0
}

.w100 {
    width: 100%;
}

.header .wrap {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.container {
    max-width: 1450px !important;
}

.logo-wrap {
    display: flex;
    position: relative;
    width: 255px;
}

.header .arrow-left {
    right: 14px;
}

.logo-inner {
    display: flex;
    align-items: center;
    border-right: 1px solid #F5F5F5;
    transition: all .3s;
    max-width: 255px;
    padding-right: 40px;
}

.logo-wrap .logo {
    padding-right: 41px;
}

.arrow-left {
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: absolute;
    transform: rotate(0deg);
    transition: all .5s;
}

.arrow_right {
    transform: rotate(180deg);
}

.arrow-left img {
    width: 100%;
}

.user-wrap {
    display: flex;
    position: relative;
}

.user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 90px;
    text-align: right;
    color: #999999;
    margin-right: 20px;
}

.user-photo {
    margin-top: 20px;
    border-radius: 30px;
    margin-right: 7px;
    display: flex;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.user-photo img {
    width: 100%;
}


.user_drop {
    background: #fff;
    padding: 15px 35px;
    bottom: -60px;
    right: 40px;
    position: absolute;
    opacity: 0;
    transition: all .36s;
}

.user_show {
    opacity: 1;
}

.user_drop a {
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    color: #808080;
}


.arrow-bottom {
    margin-top: 30px;
    margin-right: 33px;
    cursor: pointer;
}

.arrow-bottom img {
    transform: rotate(-90deg);
}

.main {
    margin-top: 1px;
    background: #f9f9f9;
    padding-bottom: 20px;
    display: flex;
}

.side-bar {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    max-width: 255px;
    transition: max-width .3s;
    height: 893px;
}

.compactBar {
    max-width: 160px;
}

.compactBar li a {
    flex-direction: column;
    border-bottom: none !important;
    padding-top: 22px;
    height: 81px;
    justify-content: center;
}

.main .compactBar li a:before {
    position: absolute;
    margin: 0 !important;
    top: 15px;
}

.side-bar li a {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
}

.side-bar li a::before {
    content: '';
    width: 26px;
    height: 26px;
    margin-top: -5px;
    display: inline-block;
    margin-right: 25px;
    margin-left: 27px;
    background: url('/img/home.svg')
}

.sidebar-wrap {
    max-width: 255px;
    min-width: 255px;
    width: 100%;
}

.side-bar li:nth-child(2) a::before {
    background: url('/img/disk.svg')
}

.side-bar li:nth-child(3) a::before {
    background: url('/img/ic_people.svg')
}

.side-bar li:nth-child(4) a::before {
    background: url('/img/ic_watch_later.svg')
}

.side-bar li:nth-child(5) a::before {
    background: url('/img/ic_delete.svg')
}

.side-bar li:nth-child(6) a::before {
    background: url('/img/email.svg')
}

.side-bar li:nth-child(7) a::before {
    background: url('/img/ic_today.svg')
}

.side-bar li:nth-child(8) a::before {
    background: url('/img/ic_camera_alt.svg')
}

.side-bar li:nth-child(9) a::before {
    background: url('/img/ic_people.svg')

}

.side-bar li:nth-child(10) a::before {
    background: url('/img/ic_business_center.svg')
}

.side-bar a {
    font-weight: 500;
    font-size: 13px;
    line-height: 60px;
    color: #999999;
    transition: hover .5s;
}

.side-bar a:hover {
    background: #eee
}

.side-bar .active {
    color: #666666;
    border-left: 3px solid #1875F0;
}

.side-bar .active::before {
    filter: invert(36%) sepia(71%) saturate(3931%) hue-rotate(203deg) brightness(98%) contrast(91%);
}


//content
.content-wrap {
    padding: 45px 40px 0 36px;
    display: flex;
}

.nav-wrap {
    padding-bottom: 65px;
    background: #fff;
    border-right: 2px solid #F5F5F5;
    min-width: 226px;
}

.write_letter {
    padding: 19px 20px 0px 20px;
}

.write_letter a {
    background: #1875F0;
    font-weight: 900;
    font-size: 12px;
    padding: 0 33px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
    min-width: 185px;
}

.nav-menu {
    margin: 19px 0 33px 0;
    border-bottom: 2px solid #F5F5F5;
    border-top: 2px solid #F5F5F5;
    padding: 0px 10px;
}

.nav-menu ul {
    padding: 10px 0;
}

.nav-menu a {
    font-weight: 500;
    font-size: 13px;
    color: #808080;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    margin-bottom: 10px;
}

.nav-menu a:hover {
    background: rgba(24, 117, 240, 0.16);
}

.nav-menu a::before {
    content: '';
    display: inline-block;
    background: url("/img/ic_inbox.svg");
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.nav-menu li:nth-child(2) a::before {
    background: url("/img/ic_drafts.svg");
}

.nav-menu li:nth-child(3) a::before {
    background: url("/img/ic_send.svg");
}

.nav-menu li:nth-child(4) a::before {
    background: url("/img/ic_delete.svg");
}
.nav-menu li:nth-child(5) a::before {
    background: url("/img/ic_spam.svg");
}


.nav-menu .active {
    background: rgba(24, 117, 240, 0.16);
}

.nav-wrap .work-labels li {
    margin-bottom: 10px;
    list-style-type: disc;
    color: green;
}

.nav-wrap .work-labels ul {
    padding-left: 45px;
}

.work-labels a {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    color: #999999;
}

.new-file .write_letter a {
    padding: 0 50px;
}


//footer
.footer {
    margin-top: 60px;
    font-weight: 500;
    font-size: 14px;
    color: #B3B3B3;
    padding-bottom: 50px;
}

.footer-rights {
    margin-top: 19px;
    margin-bottom: 30px;
    margin-left: 25px;
}

.footer-company {
    margin-left: 25px;
}

.footer .col-title {
    font-size: 16px;
    color: #666666;
}

.footer-nav {
    padding-top: 30px;
    display: flex;
}

.footer-nav a {
    line-height: 15px;
    color: #9B9B9B;
    margin-bottom: 25px;
    display: block;
}

.l-nav {
    margin-right: 50px;
    width: 111px;
}

.contact .col-title {
    position: relative;
    padding-bottom: 15px;
}

.contact .col-title::after {
    content: '';
    width: 65px;
    height: 2px;
    background: #E6E6E6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.contact-wrap {
    display: flex;
    margin-top: 12px;
    margin-bottom: 22px;
}

.contact-wrap a {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #808080;
}

.contact-email a {
    font-size: 14px;
    margin-left: 23px;
}

.social {
    display: flex;
}

.social-item {
    width: 26px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
    background: url("/img/ic_facebook.svg");
}

.social-item:nth-child(2) {
    background: url("/img/ic_twitter.svg");
}

.social-item:nth-child(3) {
    background: url("/img/ic_instagram.svg");
}


//общий шаблон сообщений

.massage__list tr {
    background: #fff;
    padding: 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* identical to box height, or 500% */
    color: #999999;
}

.massage__list tr:last-child {
    border-bottom: none;
}

.massage__list {
    background: #fff;
    height: 698px;
}
.preloader-wrapper.active {
    z-index: 222222;
}
.massage__list i:hover {
    color: #837d7d;
}

.massage__list td {
    padding: 10px 5px;
}
.date__td {
    width: 11%;
}

.massage__list tr:hover {
    background: #f9f9f9;
    cursor: pointer;
}

.massage__list i {
    color: #D8D8D8;
    cursor: pointer;
}

.message__select {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.message__select span {
    height: 18px !important;
    padding-left: 20px !important;
}

.message__select span::after {
    border: 2px solid #E6E6E6 !important;
    border-radius: 4px !important;
}

.message__select input:checked + span::after {
    background: #1875F0 !important;
    border: none !important;
}

.message__favorite {
    display: flex;
}

.nav__mobile-close i {
    color: #D8D8D8;
}

.nav__mobile-close i:hover {
    color: #837d7d;
    cursor: pointer;
}

.nav__mobile-close, .nav__mobile-open {
    display: none !important;
}

.message__seen-dot {
    width: 8px;
    height: 8px;
    background: #F9AD3D;
    border-radius: 5px;
}

.email__from-td, .email__to-td {
    width: 22%;
}
.email__to-title {
    width: 50%;
}

.email__from , .email__to {
    display: flex;
    align-items: center;
}

.email__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FFE9C5;
    border-radius: 100px;
    color: #D36B1E;
    font-weight: bold;
    font-size: 12px;
    margin-right: 30px;
    margin-left: 25px;
    text-transform: uppercase;
}


.messages_wrap {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 2px solid #F5F5F5;
    color: #D8D8D8;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.messages_wrap i {
    width: 26px;
    height: 26px;
}

.messages_action {
    display: flex;
    border-right: 2px solid #F5F5F5;
    padding: 31px 10px;
    align-items: center;
}

.messages_action .action__group {
    display: flex;
}

.messages_action .action__group:not(:last-child) {
    margin-right: 25px;
}

.email__actions .action_group {
    padding: 20px 22px;
    text-align: center;
}

.messages_wrap .messages_action .action__group span {
    height: 18px !important;
    padding-left: 20px !important;
}

.messages_wrap .messages_action .action__group span::after {
    border: 2px solid #E6E6E6 !important;
    border-radius: 4px !important;
}

.messages_wrap .messages_action input:checked + span::after {
    background: #1875F0 !important;
    border: none !important;
}

.massage__list .email__search {
    padding: 6px 30px 6px 28px;
    border-right: 2px solid #F5F5F5;
    max-width: 730px;
}

.massage__list .email__search input {
    max-width: 190px;
}

.massage__list .email__search div {
    display: flex;
    align-items: center;
}

.massage__list .email__search i {
    position: relative;
    z-index: 222;
    cursor: pointer;
}

.email_simple-paginate {
    padding: 32px 26px 30px 30px;
    display: flex;
    border-right: 2px solid #F5F5F5;
    align-items: center
}

.paginate-numbers {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #999999;
    margin-right: 25px;
    min-width: 68px;
}

.paginate-arrows {
    display: flex;
}

.paginate-arrows i {
    cursor: pointer;
}

.paginate-arrows i:first-child {
    margin-right: 15px;
}

.email__actions .action_text {
    color: #CCCCCC;
}

.messages_wrap input {
    max-width: 690px !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
    min-width: 50px;
}

.messages_wrap label.active {
    color: #D8D8D8 !important;
}

.messages_wrap input:focus {
    box-shadow: none !important
}

.email-dop {
    display: flex
}

.email-dop div {
    padding: 29px 16px 29px 26px;
}

.messages_wrap .email-dop i {
    cursor: pointer;
}

.preloader-wrapper {
    position: absolute !important;
    left: 50%;
    width: 100px !important;
    height: 100px !important;
}


.email__attachments i:hover {
    color: #D8D8D8;
}

.action__group i:hover {
    color: #837d7d
}

.disabled .action__group:nth-child(3) i,
.disabled .action__group:nth-child(4) i,
.disabled .action__group:nth-child(5) i,
.disabled .action__group:nth-child(6) i {
    cursor: default !important;
    color: #D8D8D8;
}

.disabled .action__group:nth-child(3) i,
.disabled .action__group:nth-child(4) i,
.disabled .action__group:nth-child(5) i,
.disabled .action__group:nth-child(6) i {
    cursor: default !important;
}

.trSelect {
    background: #f9f9f9 !important;
}

.email__name.bg_1 {
    background: #FFE4EC;
    color: #C92B5F;
}

.email_date, .email__attachments {
    text-align: center;
}

.email__name.bg_2 {
    background: #E0F7D7;
    color: #008947;
}

.email__name.bg_3 {
    background: #F5E3F9;
    color: #813D85;
}

//общий шаблон сообщений

//toast
.notices .toast {
    max-width: 321px!important;
    height: 65px;
    font-size: 13px;
    min-width: 321px;
    justify-content: unset;
}




