// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    .nav-wrap {
        min-width: 228px;
    }

    //footer
    .contact-wrap {
        display: block;
    }
    .contact-email a {
        margin-left: 0;
    }
    .l-nav {
        margin-right: 0;
    }
    .footer-rights {
        margin-bottom: 12px;
    }
    //footer
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .footer .container {
        width: 100%;
    }
    .side-bar, .logo-inner {
        max-width: 160px;
    }
    .side-bar li a {
        border-bottom: none !important;
        padding-top: 22px;
        height: 81px;
        justify-content: center;
        flex-direction: column;
    }
    .side-bar li a::before {
        position: absolute;
        margin: 0 !important;
        top: 15px;
    }

    .side-bar, .logo-inner {
        width: 100px;
        max-width: 100px;
    }

    //header
    .logo-wrap {
        width: 100px;
    }
    .logo-wrap .arrow-left {
        display: none;
    }
    .logo-wrap img {
        width: 100%;
    }
    .logo-inner, .logo-wrap .logo {
        padding-right: 0;
    }
    //header
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        width: 75% !important;
    }
}
