// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1300px) {
    .messages_action .action__group:not(:last-child) {
        margin-right: 15px;
    }
    .email__name {
        margin-right: 10px;
    }
    .content-wrap {
        padding: 45px 24px 0 10px;
    }
    .new__email-inner .email__to input, .new__email-inner .email__subject input {
        width: 95%!important;
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    //footer
    .contact-wrap {
        display: block;
    }
    .contact-email a {
        margin-left: 0;
    }
    .l-nav {
        margin-right: 0;
    }
    .footer-rights {
        margin-bottom: 12px;
    }
    .seen {
        display: none;
    }
    .email__name {
        margin-left: 0;
    }
    .email_simple-paginate {
        padding: 32px 10px 30px 10px;
    }
    .massage__list .email__search {
        padding: 6px 5px 6px 5px;
    }
    .email-dop div {
        padding: 30px 10px 29px 10px;
    }
    //footer

    .footer .container {
        width: 100%;
    }
    .sidebar-wrap {
        max-width: 75px;
        min-width: 105px;
    }
    .side-bar, .logo-inner {
        max-width: 160px;
    }
    .side-bar li a {
        border-bottom: none !important;
        padding-top: 22px;
        height: 81px;
        justify-content: center;
        flex-direction: column;
    }
    .side-bar li a::before {
        position: absolute;
        margin: 0 !important;
        top: 15px;
    }

    .side-bar, .logo-inner {
        width: 100px;
        max-width: 100px;
    }

    //header
    .logo-wrap {
        width: 100px;
    }
    .logo-wrap .arrow-left {
        display: none;
    }
    .logo-wrap img {
        width: 100%;
    }
    .logo-inner, .logo-wrap .logo {
        padding-right: 0;
    }
    //header

}

@media (max-width: 977px) {
    .content-wrap {
        padding: 0;
    }
    .nav-wrap {
        position: absolute;
        z-index: 517;
        left: -100%;
        transition: all .3s;
    }
    .nav__mobile-open , .nav__mobile-close {
        display: block!important;
    }
    .write_letter {
        padding: 19px 27px 0 20px;
    }
    .nav-wrap__open {
        left: 0;
    }
    .nav__mobile-close {
        position: absolute;
        right: 0;
        top: 32px;
    }
    .massage__list .email__search , .new__email-inner .email__search-wrap {
        position: absolute!important;
        top: -89px;
        background: #fff;
        max-width: 1000px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-right: none!important;
        padding: 9px 0 9px 45px;
    }
    .new__email-inner {
        margin-top: 90px;
    }
    .email__to span[data-v-4e583fa8], .email__subject span[data-v-4e583fa8] {
        line-height: 42px!important;
    }
    .new__email-bar .nav__mobile-open {
        cursor: pointer;
    }
    .new__email-bar .email__search {
        padding-left: 15px;
    }
    .new__email-bar .email__actions {
        width: 100%;
    }
    .new__email-wrap .email__header-box{
        padding-left: 2px!important;
    }

    .email_simple-paginate{
        max-width: 500px;
        width: 100%;
    }
    .nav__mobile-open {
        position: absolute;
        left: 12px;
        top: 50%;
        margin-top: -11px;
    }
    .email__search input {
        max-width: 775px !important;
    }
    .massage__list {
        margin-top: 90px;
        position: relative;
    }
    .nav-wrap {
        padding-bottom: 175px;
    }
    .main-wrap {
        overflow: hidden;
    }
    .massage__list .email__search i {
        right: 10px;
    }
   .user_drop {
       z-index: 2;
       background: #fff;
       bottom: -40px;
       right: 20px;
       position: absolute;
       opacity: 0;
       transition: all 0.36s;
       width: 132px;
       padding: 0;
   }
    .user_show {
        opacity: 1;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .sidebar-wrap, .logo-wrap  {
        display: none;
    }
    .header .wrap , .user-wrap {
        align-items: center;
    }
    .user-photo, .arrow-bottom {
        margin-top: 0;
        margin-right: 0;
    }
    .togglermenu{
        display: block!important;
    }
    .nav__mobile-open i {
        left: -1px;
    }
    .header .wrap {
        padding-left: 10px;
    }


}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        width: 75% !important;
    }
}
